// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/css?family=Amiri');


// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-select/sass/bootstrap-select.scss";


.arabic-font{	
	font-family: 'Cairo', sans-serif;
}
.arabic-font2{
	font-family: 'Amiri', serif;	
}
.arabic-direction{
	direction: rtl;
}

